.client-employee-container {
  padding: 2rem;
}

.filter-container {
  margin-bottom: 1rem;
}

.filter-container select {
  margin-left: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
}

.appointments-table {
  margin-top: 1rem;
  border-collapse: collapse;
  width: 100%;
}

.appointments-table table {
  width: 100%;
  border-collapse: collapse;
}

.appointments-table th, .appointments-table td {
  padding: 1rem;
  text-align: left;
  border: 1px solid #ddd;
}

.appointments-table th {
  background-color: #f4f4f4;
}