.navbar {
  width: 100%;
  background: var(--primary-dark);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px; 
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar-container {
  width: 100%;
  max-width:95%; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto; 
}

.navbar-links {
  display: flex;
  gap: 20px;
  flex-wrap: wrap; 
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease-in-out;
  white-space: nowrap; 
}

.navbar-links a:hover {
  color: var(--lighter-blue);
}

.navbar-login {
  cursor: pointer;
  color: white;
  
  transition: color 0.3s ease;
}

.navbar-login:hover {
  color: #7096D1;
}