/* Navbar Styles */
.navbar {
  width: 100%;
  background: var(--primary-dark);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px; /* Increase left and right padding */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

/* Ensure navbar contents stay within a reasonable width */
.navbar-container {
  width: 100%;
  max-width:95%; /* Prevents content from stretching too far */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto; /* Centers navbar content */
}

/* Adjust navbar links */
.navbar-links {
  display: flex;
  gap: 20px;
  flex-wrap: wrap; /* Ensures responsiveness */
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease-in-out;
  white-space: nowrap; /* Prevents wrapping */
}

.navbar-links a:hover {
  color: var(--lighter-blue);
}

.navbar-login {
  cursor: pointer;
  color: white;
  
  transition: color 0.3s ease;
}

.navbar-login:hover {
  color: #7096D1;
}